@font-face {
  font-family: 'Freeman-Icons';
  src:  url('fonts/Freeman-Icons.eot?aaeox');
  src:  url('fonts/Freeman-Icons.eot?aaeox#iefix') format('embedded-opentype'),
    url('fonts/Freeman-Icons.ttf?aaeox') format('truetype'),
    url('fonts/Freeman-Icons.woff?aaeox') format('woff'),
    url('fonts/Freeman-Icons.svg?aaeox#Freeman-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Freeman-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-checked:before {
  content: "\2611";
}
.icon-checkbox:before {
  content: "\2610";
}
.icon-radio-checked:before {
  content: "\1f518";
}
.icon-radio:before {
  content: "\26aa";
}
.icon-star-nofill:before {
  content: "\2606";
}
.icon-star:before {
  content: "\2605";
}
.icon-start-halffill:before {
  content: "\e900";
}
.icon-group-add:before {
  content: "\e901";
}
.icon-group:before {
  content: "\e910";
}
.icon-face-happy:before {
  content: "\e912";
}
.icon-face-neutral:before {
  content: "\e914";
}
.icon-face-sad:before {
  content: "\e916";
}
.icon-face-very-happy:before {
  content: "\e918";
}
.icon-face-very-sad:before {
  content: "\e91a";
}
.icon-face-bad-mood:before {
  content: "\e91c";
}
.icon-face-good-mood:before {
  content: "\e91e";
}
.icon-notify-nofill:before {
  content: "\e920";
}
.icon-notify:before {
  content: "\1f514";
}
.icon-poll:before {
  content: "\e924";
}
.icon-share:before {
  content: "\e926";
}
.icon-add-user:before {
  content: "\e928";
}
.icon-user:before {
  content: "\1f464";
}
.icon-multiple-users:before {
  content: "\1f465";
}
.icon-apps:before {
  content: "\e92e";
}
.icon-arrow-left:before {
  content: "\2b05";
}
.icon-arrow-down:before {
  content: "\2b07";
}
.icon-arrow-right:before {
  content: "\27a1";
}
.icon-arrow-up:before {
  content: "\2b06";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-close:before {
  content: "\274c";
}
.icon-dropdown-arrow:before {
  content: "\1f53d";
}
.icon-exit:before {
  content: "\2716";
}
.icon-expand-less:before {
  content: "\e942";
}
.icon-expand-more:before {
  content: "\e944";
}
.icon-full-screen:before {
  content: "\e946";
}
.icon-full-screen-exit:before {
  content: "\e902";
}
.icon-home:before {
  content: "\1f3e0";
}
.icon-hamburger-menu:before {
  content: "\e94c";
}
.icon-ellipse-menu:before {
  content: "\2026";
}
.icon-desktop:before {
  content: "\1f5a5";
}
.icon-laptop:before {
  content: "\1f4bb";
}
.icon-phone:before {
  content: "\1f4f1";
}
.icon-plug:before {
  content: "\1f50c";
}
.icon-tablet:before {
  content: "\e958";
}
.icon-download:before {
  content: "\1f4e9";
}
.icon-folder-create:before {
  content: "\e95c";
}
.icon-folder:before {
  content: "\1f4c1";
}
.icon-folder-open:before {
  content: "\1f4c2";
}
.icon-folder-share:before {
  content: "\1f5c2";
}
.icon-klowd:before {
  content: "\2601";
}
.icon-upload:before {
  content: "\1f4e4";
}
.icon-add-circle:before {
  content: "\e968";
}
.icon-add:before {
  content: "\2795";
}
.icon-app:before {
  content: "\e96c";
}
.icon-archive:before {
  content: "\e96e";
}
.icon-copy:before {
  content: "\e970";
}
.icon-cut:before {
  content: "\e972";
}
.icon-delete:before {
  content: "\1f5d1";
}
.icon-document:before {
  content: "\1f4d1";
}
.icon-edit:before {
  content: "\270f";
}
.icon-link:before {
  content: "\1f517";
}
.icon-remove-circle:before {
  content: "\e97c";
}
.icon-remove:before {
  content: "\2796";
}
.icon-save:before {
  content: "\1f4be";
}
.icon-slide:before {
  content: "\e982";
}
.icon-block:before {
  content: "\1f6ab";
}
.icon-key:before {
  content: "\1f511";
}
.icon-mail-nofill:before {
  content: "\e988";
}
.icon-mail:before {
  content: "\1f4e7";
}
.icon-message:before {
  content: "\1f4ac";
}
.icon-phone-old:before {
  content: "\1f4de";
}
.icon-fastforward:before {
  content: "\23e9";
}
.icon-rewind:before {
  content: "\23ea";
}
.icon-mic:before {
  content: "\1f3a4";
}
.icon-mic-off:before {
  content: "\e996";
}
.icon-pause-circle:before {
  content: "\e998";
}
.icon-pause:before {
  content: "\23f8";
}
.icon-play-circle:before {
  content: "\e99c";
}
.icon-play:before {
  content: "\e99e";
}
.icon-skip-next:before {
  content: "\e9a0";
}
.icon-skip-previous:before {
  content: "\e9a2";
}
.icon-stop:before {
  content: "\e9a4";
}
.icon-volume-down:before {
  content: "\e9a6";
}
.icon-volume-middle:before {
  content: "\e9a8";
}
.icon-volume-mute:before {
  content: "\e9aa";
}
.icon-volume-off:before {
  content: "\e9ac";
}
.icon-volume-up:before {
  content: "\e9ae";
}
.icon-error-nofill:before {
  content: "\e9b0";
}
.icon-error:before {
  content: "\e9b2";
}
.icon-report:before {
  content: "\e9b4";
}
.icon-signal:before {
  content: "\e9b6";
}
.icon-warning-nofill:before {
  content: "\e9b8";
}
.icon-warning:before {
  content: "\e9ba";
}
.icon-attach:before {
  content: "\e9bc";
}
.icon-bookmark-nofill:before {
  content: "\e9be";
}
.icon-bookmark:before {
  content: "\e9c0";
}
.icon-code:before {
  content: "\e9c2";
}
.icon-event:before {
  content: "\e9c4";
}
.icon-heart-nofill:before {
  content: "\e9c6";
}
.icon-heart:before {
  content: "\e9c8";
}
.icon-help-nofill:before {
  content: "\e9ca";
}
.icon-help:before {
  content: "\e9cc";
}
.icon-info-nofill:before {
  content: "\e9ce";
}
.icon-info:before {
  content: "\e9d0";
}
.icon-list:before {
  content: "\e9d2";
}
.icon-lock:before {
  content: "\e9d4";
}
.icon-lock-nofill:before {
  content: "\e9d6";
}
.icon-print:before {
  content: "\e9d8";
}
.icon-refresh:before {
  content: "\e9da";
}
.icon-search:before {
  content: "\e9dc";
}
.icon-send:before {
  content: "\e9de";
}
.icon-settings:before {
  content: "\e9e0";
}
.icon-sync:before {
  content: "\e9e2";
}
.icon-thumbs-down:before {
  content: "\e9e4";
}
.icon-thumbs-up:before {
  content: "\e9e6";
}
.icon-touch:before {
  content: "\e9e8";
}
.icon-view-carousel:before {
  content: "\e9ea";
}
.icon-view-columns:before {
  content: "\e9ec";
}
.icon-view-grid:before {
  content: "\e9ee";
}
.icon-visibility:before {
  content: "\e9f0";
}
.icon-visibility-off:before {
  content: "\e9f2";
}
.icon-zoom-in:before {
  content: "\e9f4";
}
.icon-zoom-out:before {
  content: "\e9f6";
}
